/* F7CFD8 #pink */
/* F4F8D3 yellow */
/* A6F1E0 light blue */
/* 73C7C7 dark blue */
head {
	display: none;
}

body {
	margin: 0;
	padding: 0;
}

.hero {
	position: relative;
	background-color: #f7cfd8;
	padding-top: 100px;
	padding-bottom: 0;
	margin: 0;
}

h1 {
	color: #ec8da3;
	font-size: 5.625rem;
	margin: 50px auto 0 auto;
	font-family: "Sacramento", cursive;
	text-align: center;
}

h2 {
	color: #ec8da3;
	font-family: "Montserrat", sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 10px;
	text-align: center;
}

.cloud-1 {
	position: absolute;
	right: 10px;
	top: 270px;
}

.cloud-2 {
	position: absolute;
	left: 80px;
	top: 10px;
}
.cloud-3 {
	position: absolute;
	left: 30px;
	bottom: 300px;
}

.flowers {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*Skills Section*/

/* About me header  */
.about-me > h2 {
	font-family: "Montserrat", sans-serif;
	padding-top: 50px;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	color: #f7cfd8;
	text-shadow: 4px 4px  #ec8da3;
}

.about-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 50px;
}

.profile {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 40%;
	padding-right: 200px;
}

.profile > p {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: #ec8da3;
	text-align: center;
	width: 400px;
}
.pfp {
	border-radius: 70%;
}

.skills img {
	width: 100px;
	height: 100px;
}

.skills {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	max-width: 50%;
}

.skill-group {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.Skill-Img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 140px;


	/*borders around skills*/
	border: 5px solid #ec8da3;
	border-radius: 25px;
	box-shadow: 10px 10px 2px #f7cfd8;

	/*text formatting*/
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	color: #ec8da3;
}


/**Previous Project Formatting*/
.previous-projects > h2{
	font-family: "Montserrat", sans-serif;
	padding-top: 50px;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	color: #f7cfd8;
	text-shadow: 4px 4px  #ec8da3;
}